
DemoLogo/.vs/DemoLogo/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.cache
*.json
*.props
*.targets
DemoLogo/DemoLogo/obj/Debug/netcoreapp3.0/DemoLogo.AssemblyInfo.cs
DemoLogo/.vs/DemoLogo/DesignTimeBuild/.dtbcache
PhoneCall/.vs/PhoneCall/v16/.suo
*.dll
*.exe
*.pdb
PhoneCall/PhoneCall/obj/Debug/netcoreapp3.0/PhoneCall.csproj.FileListAbsolute.txt
PhoneCall/PhoneCall/obj/Debug/netcoreapp3.0/PhoneCall.AssemblyInfo.cs
PhoneCall/.vs/PhoneCall/DesignTimeBuild/.dtbcache
PaintingEstimate/.vs/PaintingEstimate/v16/.suo
PaintingEstimate/PaintingEstimate/obj/Debug/netcoreapp3.0/PaintingEstimate.csproj.FileListAbsolute.txt
PaintingEstimate/PaintingEstimate/obj/Debug/netcoreapp3.0/PaintingEstimate.AssemblyInfo.cs
PaintingEstimate/.vs/PaintingEstimate/DesignTimeBuild/.dtbcache
ConvertQuartsToLiters/.vs/ConvertQuartsToLiters/v16/.suo
ConvertQuartsToLiters/ConvertQuartsToLiters/obj/Debug/netcoreapp3.0/ConvertQuartsToLiters.AssemblyInfo.cs
ConvertQuartsToLiters/ConvertQuartsToLiters/obj/Debug/netcoreapp3.0/ConvertQuartsToLiters.csproj.FileListAbsolute.txt
ConvertQuartsToLiters/.vs/ConvertQuartsToLiters/DesignTimeBuild/.dtbcache
Multiplication/.vs/Multiplication/v16/.suo
Multiplication/Multiplication/obj/Debug/netcoreapp3.0/Multiplication.AssemblyInfo.cs
Multiplication/Multiplication/obj/Debug/netcoreapp3.0/Multiplication.csproj.FileListAbsolute.txt
Multiplication/.vs/Multiplication/DesignTimeBuild/.dtbcache
AdmissionModularized/AdmissionModularized/obj/Debug/netcoreapp3.0/AdmissionModularized.AssemblyInfo.cs
AdmissionModularized/.vs/AdmissionModularized/v16/.suo
AdmissionModularized/.vs/AdmissionModularized/DesignTimeBuild/.dtbcache
CountVowelsModularized/.vs/CountVowelsModularized/v16/.suo
CountVowelsModularized/CountVowelsModularized/obj/Debug/netcoreapp3.0/CountVowelsModularized.AssemblyInfo.cs
CountVowelsModularized/CountVowelsModularized/obj/Debug/netcoreapp3.0/CountVowelsModularized.csproj.FileListAbsolute.txt
Desks/Desks/obj/Debug/netcoreapp3.0/Desks.AssemblyInfo.cs
CountVowelsModularized/.vs/CountVowelsModularized/DesignTimeBuild/.dtbcache
Desks/.vs/Desks/v16/.suo
Desks/Desks/obj/Debug/netcoreapp3.0/Desks.csproj.FileListAbsolute.txt
